doctype html
html(ng-app="TodoModule")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic', rel='stylesheet',type='text/css')
    script(src='http://code.jquery.com/jquery-latest.js ')
    script(type='text/javascript', src='/javascripts/vendor/angular/angular.js')
    script(type='text/javascript', src='/javascripts/vendor/angular-bootstrap/ui-bootstrap-tpls-0.6.0.js')
    script(type='text/javascript', src='/javascripts/TodoModule.js')

    block head

  body
    nav.navbar.navbar-default
      a.navbar-brand(href="#") Planits
    block content