extends layout

block head

  

block content
  div.wrapper(ng-controller="TodoListController", ng-init="setTodos( #{JSON.stringify(todos)}); calculateRemainder(); ")
    div.row
      div.col-lg-12(ng-click="showForm =! showForm")
        h1 Add a Task
    div.row(ng-show="showForm")
      div.col-lg-4
        form.form(name="taskForm", novalidate, ng-submit="addNewTodo()")
          div.form-group
            Label Title
            input.form-control(type="text", ng-model="newTodo.title", placeholder="task title") 
          div.form-group
            Label Description
            input.form-control(type="text", ng-model="newTodo.description", placeholder="task description")
          div.form-group   
            Label Task Duration 
            input.form-control(type="text", ng-model="newTodo.ttl", placeholder="time to completion") 
          div.form-group
            Label Due Date
            input.form-control(type="text", datepicker-popup="dd-MMMM-yyyy", placeholder="due date", ng-model="newTodo.due" ,is-open="opened", min="minDate" ,max="'2015-06-22'" ,datepicker-options="dateOptions" ,date-disabled="disabled(date, mode)" ,ng-required="true")
            button(class="btn",ng-click="open()")
             i.glyphicon.glyphicon-globe
          div.form-group
            Label Orbit
            select.form-control(ng-model="newTodo.orbit")
              option(ng-repeat="orbit in orbits") {{orbit.name}}
          button.btn.btn-primary(type="submit") Add Task
      div.col-lg-4
        div.taskList.col-lg-6
          h2 My Tasks
          {{orbits}}
          ol.list-group
            li.list-group-item(ng-repeat="todo in todos | orderBy: 'orbit'")
              {{todo.done}}
              input(type="checkbox", ng-model="todo.done", ng-change="update(todo)")
              task(title='{{todo.title}}', description='{{todo.description}}', due="{{todo.due}}", ttl="{{todo.ttl | number}}", orbit="{{todo.orbit}}")
      div.col-lg-4#singleOrbitWrapper
        select(ng-model="selectedOrbit", ng-options="orbit.name for orbit in orbits") 
        div.orbitLabel
          div.orbitLabelCircle
            h2 {{selectedOrbit.name}}
            p.orbitName Orbit
          p {{selectedOrbit.tasks}} Tasks  
          p {{selectedOrbit.sum}} Hours
        canvas(id="singleOrbitCanvas")
        planet-rewrite(ng-repeat="todo in todos | filter:isOrbit(selectedOrbit.name) | filter:notDoneFilter", delete-task="todo.done=!todo.done" is-done="todo.done", angle="{{todo.angle}}", ttl="{{todo.ttl}}", title="{{todo.title}}", orbit="{{selectedOrbit.name}}", ng-click="toggleTaskMenu()", update="finishTask(todo)", show="{{todo.done}}")
    div.row
      div.col-lg-4#solarWrapper
        canvas(id="solarCanvas")
        orbitsum(ng-repeat="orbit in orbits", name="{{orbit.name}}", sum="{{orbit.sum}}", ng-transclude)
    
          
  script(type="text/javascript", src="/javascripts/canvasDrawings.js")
  script(type='text/javascript', src='/javascripts/controllers/TodoListController.js')