body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.taskPlanet {
	border-radius:320px;
	margin-bottom:100px;
	text-align:center;
	color:white;
	position: relative;
	margin:auto;
	left:0;
	right:0;
	background-position: center;
	font-family:"source sans pro";
}

.taskOptions {
	left:42%;
	width:60px;
	position:relative;
}


canvas {
	background-color:#212020;
}

#solarWrapper{
	padding:0;
}

/* Style the planets based on size. could abstract the background positions to make DRY*/

.smallPlanet {
	background-color:rgba(39,49,65,0.9);
	
	/*background-color:rgba(248,126,34,0.7);*/

}

.largePlanet {
	background-color:rgba(78,58,74,0.7);
}

.mediumPlanet {
	background-color:rgba(172,165,126,0.9);
}

.noShow {
	display:none;
}

.taskTTL {
	position: absolute;
	margin: auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	border-radius:100px;
	background-color:rgba(0,0,0,0.5);

}

.taskTitle {
	-webkit-transform:rotate(0deg);
	text-align: center;
	position: relative;
	top:0;
	font-family:georgia;
	font-weight:200;
}

.taskTitle h4 {
	font-weight:200;
	font-family:"source sans pro";
	letter-spacing:0.5px;
}




.taskTTL h1,.taskTTL h2, .taskTTL h3, .taskTTL h4 {
	margin-top:0;
	margin-bottom:0;

	
}

.solarSystem {
	height:1500px;
	/*background-image:url('/images/spacePattern.jpg');*/
	/*background-color:#111826;*/
	background-color:#212020;
	position: relative;
	color:white;
	text-align: center;
	overflow:hidden;
}


#solarCanvas {
	position: relative;
	top:0;
	left:0;
}

.taskWrapper {
	position: absolute;
	margin: auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.orbit1, .orbit2, .orbit3 {	
	border:2px #d8d5d5 solid;	
	height:80px;
	width:80px;
	border-radius:100px	;
	-webkit-border-radius:100px;
	position: absolute;
	text-align: center;
	background-color:rgba(49,54,63,0.9);
	color:#d8d5d5;
	line-height:1;
}

.orbit {
	width:100%;
	position: relative;
	border:1px transparent solid;
}


.orbitLabel {
	position: absolute;
	margin:auto;
	left:0;
	right:0;
	text-align: center;
	color:#d8d5d5;
	font-weight:400;
	top:50%;
}

.orbitLabel p {
	font-weight:100;
}

.orbitLabel h2, p.orbitName {
	font-weight:500;
	line-height:1em;
	margin-top:0;
}

.orbitLabelCircle {
	border:1px blue solid;
	border-radius:500px;
	position: relative;
	margin:auto;
	left:0;
	right: 0;
}

.orbitWrapper {
	width:100%;
	position: absolute;
	left:0;
	margin-top:-142px;
}


planet-rewrite {
	color:white;
}

#singleOrbitWrapper {
	padding:0;
}
